<div id="<%= dom_id user %>">
  <p>
    <strong>Nombre:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Fecha nacimiento:</strong>
    <%= user.birthdate %>
  </p>

  <p>
    <strong>Genero:</strong>
    <%= user.gender %>
  </p>

  <p>
    <strong>Pais Origen:</strong>
    <%= user.country %>
  </p>

</div>
